* {
  margin: 0;
  padding: 0;
}

#box {
  border: 1px solid #CCCCCC;
  height: 130px;
  width: 100%;
  margin: 10px;
}

#form_wrap {
  margin-top: 10px;
  margin-left: 10px;
}

input {
  margin-left: 10px;
}

select {
  margin-left: 10px;
}

button {
  height: 40px;
  width: 130px;
  background-color: cornflowerblue;
  color: white;
  border-radius: 5px;
}
